[submodule "auth-service"]
	path = auth-service
	url = git@github.com:IDP-TrainTickets/auth-service.git
[submodule "kong"]
	path = kong
	url = git@github.com:IDP-TrainTickets/kong.git
[submodule "database"]
	path = database
	url = git@github.com:IDP-TrainTickets/database.git
[submodule "routes-service"]
	path = routes-service
	url = git@github.com:IDP-TrainTickets/routes-service.git
